@import "frappe.css";

* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 12px;
  min-height: 0;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 2px 2px;
}

#workspaces {
  border-radius: 5px;
  margin: 5px;
  background: @surface1;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 5px;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @teal;
  border-radius: 5px;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: @surface1;
    border: @surface1;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#cpu,
#memory,
#custom-lock,
#custom-power {
  background-color: @surface1;
  padding: 0.5rem 0.7rem;
  margin: 5px 0;
}

#memory {
  border-radius: 0px 5px 5px 0px;
}

#clock {
  color: @blue;
  border-radius: 5px;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 5px 0px 0px 5px;
  margin-left: 1rem;
}

#custom-music {
  color: #ca9ee6;
  border-radius: 5px;
}

#custom-power {
  margin-left: 0.5rem;
  font-size: 14px;
  border-radius: 5px 5px 5px 5px;
  color: #babbf1;
}

#bluetooth {
  font-size: 14px;
}

#tray {
  margin-left: 1rem;
  border-radius: 5px;
}
