@import "frappe.css";

* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 13px;
  min-height: 0;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
}

#waybar {
  background: @crust;
  color: @text;
  margin: 2px 2px;
}

#workspaces {
  border-radius: 2px;
  margin: 0px 0px;
}

#workspaces button {
  color: @lavender;
  border-radius: 2px;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @teal;
  border-radius: 2px;
}

#workspaces button.urgent {
  color: @mauve;
  border-radius: 2px;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: @base;
    border: @base;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#cpu,
#memory,
#custom-lock,
#temperature,
#custom-power {
  padding: 0 0.7rem;
}

#memory {
  border-radius: 0px 2px 2px 0px;
}

#clock {
  color: @text;
  border-radius: 2px;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 2px 0px 0px 2px;
  margin-left: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 5px;
}

#custom-power {
  margin-left: 0.5rem;
  font-size: 14px;
  border-radius: 5px 5px 5px 5px;
  color: #babbf1;
}

#bluetooth {
  font-size: 14px;
}

#tray {
  margin-left: 1rem;
  border-radius: 2px;
}
